:root {
    --color-web: #4D5AE5;
    --accent-color: #2E2F42;
    --cloud: #F4F4FD;
    --bg-white: #FFFFFF;
    --color-text:  #434455;
.body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.02em;
    background-color:var(--bg-white);
color: var(--color-text);
      }
      .link-logo {
        font-family:"Raleway";
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
            }
        .web {
            color: var(--color-web);
             }
    .studio {
        color: var(--accent-color);
                 }

                 .nav {

                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    list-style-type: none;
                    padding: 0%;
                    text-decoration: none;
                    color: var(--accent-color);
                            }
            .address {
                font-weight: 153;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: var(--color-text);
                text-decoration: none;
                list-style-type: none;
            }
            .hero {
                font-weight: 700;
                font-size: 56px;
                line-height: 60px;
                letter-spacing: 0.02em;
                color: var(--bg-white);
                background-color: var(--accent-color);
            }
            .button {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.04em;
                background-color: var(--color-web);
                color: var(--bg-white);
            }
            .main-section {
              background-color: var(--accent-color);
            }
            .section-title {
                font-family: var(--bg-white);
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.02em;
                line-height: 1.2;
                color: var(--accent-color);
                        }
                      .section-text {
                        font-family: var(--bg-white);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: var(--color-text);
                         }
                      .main-section {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 1.1;
                        letter-spacing: 0.02em;
                                    }
                        .section-list  {
                            list-style-type: none;
                                        }
                        .footer-section {
                            background-color: var(--accent-color);
                            color: var(--cloud);
                                        }
                        .link header-logo {
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 5.57;
                            letter-spacing: 0.03em;
                            color: var(--color-web);
                                        }
                         .footer-logo-light {
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 5.57;
                            letter-spacing: 0.03em;
                            color: var(--cloud);
                            }
                         .footer-text {
                            font-family: var(--bg-white);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 6,25;
                            letter-spacing: 0,02em;
                            color: var(--cloud);
                                        }
                                
                            .link-logo {
                            font-family: "Raleway";
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 1.17;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            text-decoration: none;
                                       }
                                
                            .web {
                            color: var(--color-web);
                                }
                                
                         .studio {
                        color: var(--accent-color);
                                }
                        .nav {  
                         font-weight: 500;
                         font-size: 16px;
                         line-height: 24px;
                         letter-spacing: 0.02em;
                         list-style-type: none;
                         padding: 0%;
                         text-decoration: none;
                         color: var(--accent-color);
                            }
                        .header-address {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: var(--color-text);
                        font-style: normal;
                                         }
                                         .header-address-link:hover {color:#4D5AE5;}
                                         .header-address-link:focus {color: #4D5AE5;}
                                         .list
                        .section-filters-btn {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.04em;
                        color: var(--color-web);
                    }
                        .section-title {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 0.02em;
                            color: var(--accent-color);
                        }
                            .section-text  {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.02em;
                                color: var(--color-text);
                            }
                            .link header-logo  {
                                font-weight: 800;
                                font-size: 18px;
                                line-height: 21px;
                                letter-spacing: 0.03em;
                                color: var(--color-web);
                            }
                            .footer-logo-light {
                                font-weight: 800;
                                font-size: 18px;
                                line-height: 21px;
                                letter-spacing: 0.03em;
                                color: var(--cloud);
                            }
                             .footer-text {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.02em;
                                color: var(--cloud);
                            }
                             .footer-section {
                                background-color: var(--accent-color);
                            }