.body {
    font-family: "Roboto", sans-serif;
    background-color:var(--primary-white-color);
color: var(--primary-slate-color);
      }
      .logo {
        font-family:"Raleway";
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
            }
        .web {
            color: var(--non-primary-blue-color);
             }
    .studio-dark {
        color: var(--dark-color);
                 }
    
    